# Golem Century Environment Variables for Systemd
# This file is sourced by systemd service
# Location: /etc/default/golem

{% for key, value in env_vars.items() %}
{{ key }}="{{ value }}"
{% endfor %}
