<?xml version='1.1' encoding='UTF-8'?>
<project>
  <description>Automated deployment job for {{ app_name }} - Deploys from {{ git_repo }}</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>GIT_BRANCH</name>
          <description>Git branch to deploy</description>
          <defaultValue>{{ git_branch }}</defaultValue>
          <trim>true</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>echo "Deploying {{ app_name }} from ${GIT_BRANCH} branch..." &amp;&amp; ssh -o StrictHostKeyChecking=no root@{{ ansible_host }} "cd {{ app_dir }}/scripts &amp;&amp; chmod +x deploy.sh &amp;&amp; ./deploy.sh" &amp;&amp; echo "Deployment completed successfully!"</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>
