---
- name: Setup SSH keys for Jenkins container to deploy to server
  hosts: all
  gather_facts: false
  become: false
  
  tasks:
    - name: Generate SSH keypair in Jenkins container
      shell: |
        docker exec jenkins bash -c '
        mkdir -p /root/.ssh
        if [ ! -f /root/.ssh/id_rsa ]; then
          ssh-keygen -t rsa -b 4096 -f /root/.ssh/id_rsa -N ""
        fi
        cat /root/.ssh/id_rsa.pub
        '
      register: jenkins_pubkey
      changed_when: false
      
    - name: Display public key
      debug:
        msg: "Jenkins public key: {{ jenkins_pubkey.stdout_lines | last }}"
    
    - name: Add Jenkins public key to server authorized_keys
      authorized_key:
        user: root
        key: "{{ jenkins_pubkey.stdout_lines | last }}"
        state: present
      
    - name: Test SSH connection from Jenkins container
      shell: |
        docker exec jenkins bash -c 'ssh -o StrictHostKeyChecking=no root@{{ ansible_host }} "echo SSH connection successful"'
      register: ssh_test
      changed_when: false
      
    - name: Display SSH test result
      debug:
        msg: "{{ ssh_test.stdout }}"
