apiVersion: v1
kind: Secret
metadata:
  name: golem-app-secrets
  namespace: golem
type: Opaque
stringData:
  TELEGRAM_BOT_TOKEN: ""  # Will be populated by Ansible from secrets/
  TELEGRAM_CHAT_ID: ""    # Will be populated by Ansible from secrets/
